html, body {
    height: 100%;
}


#motivation-container{
	display: flex;
	padding: 0px;
	margin:0px;
	height: 60%;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: stretch;
}

.arrow{
	align-self: center;
	width:4%;
}

#motivation{
	align-self: center;
	width: 40%;
}
